.CheckoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.CheckoutProductInfo{
    padding-left: 20px;
}
.CheckoutProductInfo > button{
    background: #f0c14b;
    width: 150px;
    height: 35px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    transition: all 0.4s;   
} 
.CheckoutProductInfo> button:hover{
     cursor: pointer;
    color: white;
    width: 155px;
    height: 45px;
    box-shadow: 1px orange;
}
.CheckoutProductImgae{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.CheckoutProductRating{
    display: flex;
}
.CheckoutProductTitle{
    font-size: 17px;
    font-weight: 800;
}